First we started by reading the csv file 'captions.txt' and then displaying the first five rows

In [15]:
import pandas as pd

captions_path = "../data/captions/captions.txt"

df = pd.read_csv(captions_path)
print(df.head())

                       image  \
0  1000268201_693b08cb0e.jpg
1  1000268201_693b08cb0e.jpg
2  1000268201_693b08cb0e.jpg
3  1000268201_693b08cb0e.jpg
4  1000268201_693b08cb0e.jpg

                                             caption
0  A child in a pink dress is climbing up a set o...
1              A girl going into a wooden building .
2   A little girl climbing into a wooden playhouse .
3  A little girl climbing the stairs to her playh...
4  A little girl in a pink dress going into a woo...

Now we want group all rows that have the same image filename together, keeping only the caption column, then for each group we convert all captions into a python list, and finally convert the pandas object into a dictionary

In [17]:
image_to_captions = (
    df.groupby('image')['caption'].apply(list).to_dict()
)

print("Number of images: ", len(image_to_captions))

Number of images:  8091

Creating a new column for captions in lower case and without punctuation

In [29]:

import string

#Removing the upper cases
df['lower_caption'] = df['caption'].str.lower()

#Function to remove the punctuation
def remove_punctuation(lower_caption):
    for char in string.punctuation:
        lower_caption = lower_caption.replace(char, '')
    return lower_caption

df['lower_caption'] = df['lower_caption'].apply(remove_punctuation)

#Comparing the new column with the old column
df.sample(10)

,image,caption,lower_caption
15669,2856699493_65edef80a1.jpg,The woman in the white shirt and black backpac...,the woman in the white shirt and black backpac...
39361,733964952_69f011a6c4.jpg,A man sites on a bench waiting to shoe shine .,a man sites on a bench waiting to shoe shine
39860,857914283_270d7d1c87.jpg,Two blonde boys are playing on a bed .,two blonde boys are playing on a bed
31726,3576250302_14779632bd.jpg,A man is driving a motorcycle in the dirt near...,a man is driving a motorcycle in the dirt near...
39667,799486353_f665d7b0f0.jpg,A young girl holding a boogie board at the beach,a young girl holding a boogie board at the beach
23558,3249891874_6a090ef097.jpg,There are four girls with shorts on walking to...,there are four girls with shorts on walking to...
9642,244910177_7c4ec3f65b.jpg,Women are walking through the street drinking ...,women are walking through the street drinking ...
4224,2038662925_f4fa8c2534.jpg,Two people with bicycle helmets chatting on a ...,two people with bicycle helmets chatting on a ...
40144,93922153_8d831f7f01.jpg,Woman climbing a cliff in a rural area,woman climbing a cliff in a rural area
19550,3072782873_3278f3b3a7.jpg,A man and a woman are kissing in a crowded str...,a man and a woman are kissing in a crowded str...